<section>
<% content_for :title, "#{@user.name}'s Posts" %>
<%= render "users/user", user: @user %>
<%@user.posts.each do |post| %>
  <%= link_to user_path(@user, post) do %>
      <%= render "post", post:post %>
        <div> 
          <h3>
            <span>Comments</span>
            <span>for Post: </span>
            <span><%="#{post.title}"%> </span>
          </h3>
          <div class="post-comment">
              <%post.most_recent_comment.each do |comment|%>
                <div>
                  <p>
                      <span><strong><%= comment.author_id %></strong></span>
                      <span><%= comment.text %></span>
                  </p>
                </div>
              <%end%>
          </div>
        </div>
      <%end%>
<%end%>
</section>